@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

a {
  color: inherit;
  all: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button,input{
  font-family: 'Poppins', sans-serif;
  all: unset;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 4px;
  height: 100%;
  background-color: rgb(161, 161, 161);
}

::-webkit-scrollbar-thumb  {
  background-color: black;
  border-radius: 6px;
}
.link1{
  a{
    &:focus{
      box-shadow: 0px 1px 0px 0px black;
    }
    &:hover{
      box-shadow: 0px 1px 0px 0px black;
    }
  }

}

.btn1{
  padding: .5rem 1rem ;
  font-size: .8rem;
  width: max-content;
  outline: solid 1px black;
  &:hover{
    outline: solid 2px black;
  }
  &:focus{
    outline: solid 2px black;
  }
  &:disabled{
    outline: solid 2px rgb(200, 200, 200);
    color: rgb(110, 109, 109);
  }

}


.btn2{
  padding: .5rem 1rem ;
  font-size: .8rem;
  width: max-content;


  &:hover{
    outline: solid 2px black;
  }
  &:focus{
    outline: solid 2px black;
  }
  &:active{
    outline: solid 1px black;
    color: black;
  }

}

.btn2:active{
  outline: solid 1px black;
  color: black;
}

.spiner{
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid black;
  border-bottom: solid 2px transparent;
  animation: spin 1s ease infinite;
  position: fixed ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}