
.nav{
    display: grid;
    grid-template-columns: minmax(1em , 1fr) minmax(150px , 1200px) minmax(1em , 1fr);
    position: sticky;
    top: 0;
    background-color: aquamarine;
    z-index: 2222;
    width: 100%;
    transition: ease-in .2s background-color;
}
.navWrapper{
    width: 100%;
    grid-column: 2/3;
    padding: 1rem 0rem;
    display: flex;

    
   
    justify-content: space-between;
    align-items: center;
    button{
        cursor: pointer;
    }
}

.logo{
    cursor: pointer;
}
.link{
    cursor: pointer;
    max-height: 40px;
    &:hover{
        box-shadow: 0px 1px 0 0px black;
    }
    &:focus{
        box-shadow: 0px 1px 0 0px black;
    }
    
}
.activeLink{

    position: relative;
    
    &:after{
        content: '';
        position: absolute;
        display: block;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        width: 35%;
        height: 2px;
        background-color: black;
       
    }
    
}
.cart{
    position: relative;
    height:20px;
    z-index: 2;


}
.cartCount{
    
    position: absolute;
    display: flex;
    top:-25%;
    left: -25%;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    color: white;
    opacity: .8;
    font-size: .5rem;
    border-radius: 50%;
    background-color:#333333;
    
}