
.modalBody{
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 500px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: solid 1px black;
   
}

.btn{

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        right: 1rem;
        top: 1rem;
        padding: .2rem .5rem;
        cursor: pointer;
        &:hover{
            outline: solid 1px black;
        }
        &:focus{
            outline: solid 1px black;
        }

}

.btn2{
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .2rem .5rem;
    cursor: pointer;
    &:hover{
        outline: solid 1px black;
    }
    &:focus{
        outline: solid 1px black;
    }

}

.newForm{
    margin: 2rem;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    width: 80%;
    max-width: 400px;

    input{
        padding: .5rem;
        border: solid 1px black;
        
        outline: none;
        &:focus{
            outline: solid 1px black;
        }
    }
}